# -----------------------------------------------------------------------------
# Backend Config
# -----------------------------------------------------------------------------
CLIENT_URL="http://0.0.0.0:3000"

# -----------------------------------------------------------------------------
# Frontend Config
# -----------------------------------------------------------------------------
NEXT_PUBLIC_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:my-secure-password@localhost:5432/api?schema=public"

# -----------------------------------------------------------------------------
# JWT Secret
# -----------------------------------------------------------------------------
JWT_SECRET=""
# Linux: `openssl rand -hex 64` or go to https://generate-secret.now.sh/64

# -----------------------------------------------------------------------------
# Session Secret
# -----------------------------------------------------------------------------
SESSION_SECRET=""


# -----------------------------------------------------------------------------
# Google oAuth
# -----------------------------------------------------------------------------
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Resend
# -----------------------------------------------------------------------------
RESEND_API_KEY=""